In [4]:
from pyspark.sql import SparkSession
from datetime import datetime, date

In [3]:
spark = SparkSession.builder.getOrCreate()

In [9]:
t_ = '\t'
n_ = '\n'

In [6]:
sp_df = spark.sql("""
select * 
from (
select 1 as a1, 2 as b1, 1 as a2, 3 as b2 
union all
select 1 as a1, 2 as b1, 1 as a2, 3 as b2 
union all
select 1 as a1, 2 as b1, 1 as a2, 3 as b2 
union all
select 1 as a1, 2 as b1, 1 as a2, 3 as b2 
) sq
""")

In [20]:
sp_df.createTempView('temp_view')

In [21]:
cols = sp_df.columns
numCols = len(cols)//2
tblName = 'temp_view'

In [22]:
_query = f"""
select 
	{f"{n_},{t_}".join(map(lambda i: f"count(case when {cols[i]} <=> {cols[i+numCols]} then 1 end) as `cnt_{cols[i]}`", range(numCols)))}
from {tblName}
"""
print(_query)

select
	count(case when a1 <=> a2 then 1 end) as `cnt_a1`
,	count(case when b1 <=> b2 then 1 end) as `cnt_b1`
from temp_view

In [23]:
spark.sql(_query).show(100, False)

+------+------+
|cnt_a1|cnt_b1|
+------+------+
|4     |0     |
+------+------+

In [27]:
cols2 = sp_df.columns
numCols2 = len(cols2)//2
tblName2 = 'temp_view'

In [26]:
_query2 = f"""
select count(*) as cnt
,	{f"{n_},{t_}".join(map(lambda col: f"count(case when {col} is NULL then 1 end) as `null_{col}`", cols2))}
,	{f"{n_},{t_}".join(map(lambda col: f"count(distinct {col}) as `diff_{col}`", cols2))}
from {tblName2}
"""
print(_query2)

select count(*) as cnt
,	count(case when a1 is NULL then 1 end) as `null_a1`
,	count(case when b1 is NULL then 1 end) as `null_b1`
,	count(case when a2 is NULL then 1 end) as `null_a2`
,	count(case when b2 is NULL then 1 end) as `null_b2`
,	count(distinct a1) as `diff_a1`
,	count(distinct b1) as `diff_b1`
,	count(distinct a2) as `diff_a2`
,	count(distinct b2) as `diff_b2`
from temp_view

In [29]:
df2 = spark.sql(_query2)

In [35]:
dict_res = df2.collect()[0].asDict()

In [51]:
# альтернативный способ
df_res = spark.sql(f"""
select inline (
array(
	{f"{n_},{t_}".join(map(lambda col: f"struct('{col}', {dict_res['cnt']}, {dict_res[f'null_{col}']}, {dict_res[f'diff_{col}']})", cols2))}
)
) as (`{'`, `'.join(['name', 'cnt', 'null', 'diff'])}`)
""")

In [46]:
# почему-то не получилось
df_res = spark.createDataFrame([
    [col, dict_res['cnt'], dict_res[f'null_{col}'], dict_res[f'diff_{col}']] for col in cols2
], ['name', 'cnt', 'null', 'diff'])
#schema='name string, cnt long, null long, diff long')

In [53]:
df_res.show()

+----+---+----+----+
|name|cnt|null|diff|
+----+---+----+----+
|  a1|  4|   0|   1|
|  b1|  4|   0|   1|
|  a2|  4|   0|   1|
|  b2|  4|   0|   1|
+----+---+----+----+